@media only screen and (max-width: 1280px) {
}

/*Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1199px) {
}

/*Medium devices (tablets, less than 992px)*/
@media only screen and (max-width: 991px) {
  .search-bar-top {
    padding: 20px 18px 20px 18px !important;
  }

  .top-header {
    display: none;
  }

  .side-menu-wrap .side-menu-close {
    height: 20px;
    width: 20px;
  }

  .side-menu-close span {
    width: 11px;
  }
  .user-top-header span {
    top: 10px;
  }

  .side-menu-nav .main-menu .sub-menu ~ i {
    right: 0px;
  }

  .user-top-header span {
    left: 10px;
  }
  .user-main-icon {
    padding-left: 45px !important;
  }
  .side-menu-nav .main-menu .sub-menu ~ i {
    padding: 22px 25px;
  }

  .custom-select-trigger {
    width: 270px;
  }
  nav {
    margin-right: 0px;
  }
  .custom-options {
    z-index: 999;
  }

  .side-menu-close span {
    background: #000;
  }
  .search-top {
    text-align: center;
    border-bottom: none !important;
    margin-top: 10px;
  }

  .btn-search {
    padding: 0;
    width: 100%;
    height: 45px;
  }

  .custom-option {
    font-weight: 100;
  }

  .col-md-6.col-sm-12.text-right {
    text-align: left !important;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .row.align-items-center.justify-content-between {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .float-panel {
    position: fixed !important;
  }

  .main-cards-body {
    padding-top: 0px;
    margin-top: 90px;
    padding: 0px 12px;
  }

  .top-header a {
    font-size: 12px;
  }

  .social-links-top {
    display: none;
  }

  .mobile-filter-menu {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 30px;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 5px 8px;
  }

  .menu-top-bar {
    margin-top: 28px !important;
  }
  .close-filter {
    position: absolute;
    top: 0;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 5px;
  }

  /* i.far.fa-times-circle {
    position: absolute;
    top: 6px;
    left: 85px;
    color: #ff2b32;
  } */

  .slider-img {
    width: 565px;
    height: 350px;
  }
  #slider-main-body {
    width: 600px;
    height: 380px;
  }

  #pagination-wrap {
    text-align: center;
    left: -50px;
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 767px) {
  .product-images,
  #contact-us {
    padding: 20px;
    text-align: left;
    max-width: 80%;
    color: #fff;
    margin: 30px 0px 0px 100px;
  }

  .mobile-navbar .menu-top-bar > li > a {
    padding: 5px 11px 5px 12px;
  }
  .search-top {
    padding: 0px 30px;
  }

  .forms.col-md-7 {
    padding-right: 15px;
    padding-top: 30px;
  }

  div#myModalGallery {
    top: 100px;
  }

  .pagenation {
    font-size: 12px;
    position: absolute;
    left: 0;
    padding-left: 0px;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575px) {
  .logo-header {
    width: 115px;
    height: auto;
  }
  .top-header a {
    font-size: 12px;
    width: 75px;
    float: left;
  }

  .top-header {
    padding: 5px 15px;
  }

  .pagination li {
    position: relative;
    left: -5%;
  }

  .pagenation {
    text-align: left;
    font-size: 12px;
    margin-left: 18px;
  }

  .pagination li {
    height: 30px;
    width: 30px;
  }

  li.disabled.PagedList-skipToPrevious,
  li.PagedList-skipToPrevious {
    top: 0px;
  }
  .pagination li.active {
    height: 30px;
    width: 30px;
  }

  li.disabled.PagedList-skipToPrevious,
  li.PagedList-skipToPrevious {
    border-radius: 50px;
    height: 30px !important;
    width: 30px !important;
  }

  li.PagedList-skipToNext a {
    position: relative;
    top: -9px !important;
    left: 8px !important;
    font-size: 20px !important;
  }

  .pagination {
    margin-top: 10px;
    position: absolute;
    left: 0;
  }

  .pagination li {
    position: relative;
    left: -12px;
    margin-left: 8px;
  }

  li.PagedList-skipToNext {
    border-radius: 50px;
    height: 30px !important;
    width: 30px !important;
    top: 0;
  }
  ul.pagination li a {
    color: #000;
    padding: 0px;
    position: relative;
    left: 10px;
    font-size: 12px;
    top: -5px;
  }

  li.disabled.PagedList-ellipses a {
    color: #000;
    font-size: 28px;
    position: relative;
    top: -20px;
    left: 0;
    padding: 0px 0px;
  }

  li.disabled.PagedList-skipToPrevious a,
  li.PagedList-skipToPrevious a {
    color: #000000;
    position: relative;
    font-size: 20px !important;
    top: -9px !important;
    left: 8px !important;
  }
}

@media only screen and (max-width: 375px) {
  .top-header .col-md-6:nth-child(1) {
    position: relative;
    left: 0px;
  }

  #slider-main-body ul#slider li {
    margin-left: -5px;
  }

  .slider-img {
    width: 400px;
    height: 275px;
  }
  #slider-main-body {
    width: 600px;
    height: 310px;
  }

  #pagination-wrap {
    min-width: 20px;
    margin-top: 160px;
    height: 15px;
    position: relative;
    text-align: center;
    left: -160px;
  }

  #slider-main-body.active #previous {
    left: 35px;
  }

  #slider-main-body.active #next {
    left: 235px;
  }
}
/*Extra small devices (portrait phones, less than 480px)*/

@media only screen and (max-width: 1280px) {
  .header-fliter-blk .fliter-blk li {
    margin: 0 0 0 5px;
  }
  .header-fliter-blk .search-round .btn-search {
    padding: 10px 10px;
  }
  .header-fliter-blk .fliter-blk li select {
    min-width: auto;
  }
  .menu-block .menu-nav li a {
    padding: 0 5px;
    font-size: 16px;
  }
  .menu-block .menu-nav li .phone {
    padding: 0 0 0 30px;
    font-size: 16px;
  }
  .main-block .landing-block .tab-content .right-block {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .main-block .landing-block .tab-content .left-block {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .landing-block .tab-content .box-block .block {
    -ms-flex: 0 0 50%;
    flex: 50%;
    max-width: 50%;
  }
}
/*Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1199px) {
  .container {
    padding: 0;
  }
  header .logo {
    width: 215px;
  }
  header.sticky .logo {
    width: 190px;
  }
  .header-fliter-blk .fliter-blk li input {
    width: 200px !important;
  }
  .main-block .nav-tabs .nav-link {
    font-size: 14px;
  }
  .main-block {
    margin-top: 155px;
  }
}

/*Medium devices (tablets, less than 992px)*/
@media only screen and (max-width: 991px) {
  /*---Menu Style---*/
  .menu-block {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
    position: fixed;
    right: -500px;
    height: 100%;
    background: #333;
    width: 500px;
    top: 0;
    overflow-x: auto;
    z-index: 99;
  }

  .no-data-msg {
    margin: 300px 0px;
    font-family: "PoppinsLight";
  }
  .no-data-msg p {
    margin: 20px;
    padding: 50px;
    font-size: 16px;
  }
  .no-data-msg:before {
    display: none;
  }
  .logo-block {
    position: absolute;
    font-weight: 500;
    top: 5%;
    left: 0%;
    right: 0%;
    text-align: center;
    z-index: -1;
  }

  .logo-header {
    width: 150px !important;
    height: auto;
    padding-top: 4px;
  }

  .footer {
    padding-bottom: 35px !important;
  }

  select {
    background: url(../img/down-arrow.png) no-repeat right 10px center !important;
  }
  .main-nav {
    padding-bottom: 58px;
  }

  .header-fliter-blk .container {
    padding-top: 0px;
  }

  .menu-block .menu-inner {
    padding: 30px 30px 30px 30px;
  }
  .menu-block .menu-nav li {
    width: 100%;
    margin: 0;
    font-size: 20px;
    padding: 5px 0;
  }
  .menu-block .menu-nav li a {
    padding: 10px 0 10px 50px;
    display: block;
    color: #fff;
    background: #333e52;
  }
  .menu-block .menu-nav li .phone,
  header .sign-in {
    padding: 10px 0 10px 70px !important;
  }
  header .sign-in::before {
    left: 30px;
    top: 10px;
  }
  .menu-block .menu-nav a.active,
  .menu-block .menu-nav li a:hover {
    color: #fff !important;
    background: #000;
  }
  .menu-icon {
    float: right;
    cursor: pointer;
  }
  .menu-icon img {
    width: 100%;
  }
  .nav-m {
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu-mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  }
  .menu-mask.active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 999;
  }
  .menu-close {
    display: none;
  }
  .menu-open .menu-close {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .menu-open .menu-block {
    right: 0;
  }
  .menu-open {
    overflow: hidden;
  }
  .menu-open .social-icons,
  .menu-open .phone {
    display: none;
  }
  header .menu-icon {
    display: block;
  }

  .main-block {
    margin-top: 145px;
  }
  .landing-block {
    padding: 50px 0;
  }

  .header-fliter-blk {
    position: fixed;
    bottom: 40px;
    width: 100%;
    left: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .search-click {
    display: block !important;
    text-align: center;
    font-size: 16px !important;
    color: #fff !important;
    text-transform: uppercase;
    font-family: "PoppinsRegular";
    z-index: 999;
    position: fixed;
    bottom: -8px;
    left: 0%;
    right: 0%;
    text-align: center;
    padding: 10px;
    letter-spacing: 0.8px;
    transition: transform 0.2s ease-in;
  }

  .filters-text {
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #e71616, #c31432);
    color: #fff;
    padding: 12px 45px 12px 25px;
    border-radius: 50px;
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
    border: 2px solid #000;
    position: relative;
    outline: none;
    z-index: 9;
    overflow: hidden;
    display: inline-table;
  }

  /* span.filters-text:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
    height: 100%;
    width: 100%;
    color: #fff !important;
} */

  /* span.filters-text:hover:before {
  transform: scaleX(1);
} */
  /* .search-click::before {
    content: "\f078";
    color: #ffffff;
    position: absolute;
    right: 47%;
    top: 0;
    margin: 8px -60px 0 0;
    border-radius: 30px;
    font-size: 18px !important;
    font-weight: bold;
    font-family: "FontAwesome";
    width: 25px;
    height: 25px;
    line-height: 25px;
    transition: transform .2s ease-in;
  } */

  i.fas.fa-sliders-h {
    position: absolute;
    margin-left: 3px;
    margin-top: 2px;
    background: #eb4242;
    width: 38px;
    height: 38px;
    overflow: hidden;
    border-radius: 50px;
    top: 3px;
  }

  .fa-sliders-h:before {
    content: "\f1de";
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 20px;
  }

  .fa-times-circle:before {
    content: "\f057";
    color: #fff;
    font-size: 38px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .far.fa-times-circle {
    position: absolute;
    font-size: 18px;
  }

  .search-click:focus-within:before {
    transform: rotate(-180deg);
  }
  a.search-click:hover {
    /* color: #fff !important; */
  }
  .header-fliter-blk .fliter-blk li {
    display: block;
    margin: 0 0 10px;
  }
  .header-fliter-blk .fliter-blk li select,
  .header-fliter-blk .fliter-blk li input {
    width: 100% !important;
    height: 35px;
  }
  .header-fliter-blk .search-round .btn-search {
    padding: 5px 10px;
    width: 300px;
    height: auto;
  }
  .header-fliter-blk .fliter-blk {
    display: none;
  }
  .header-fliter-blk.filter-open .fliter-blk {
    display: block;
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 14%);
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 15px;
  }

  body.has-overlay::after {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    z-index: 120;
  }

  ul.fliter-blk li {
    background: #e71616;
  }

  select {
    color: #fff !important;
  }

  .form-check input + label {
    font-size: 14px;
  }

  .landing-block .tab-content .card-header h5 a {
    display: block;
    font-family: "PoppinsRegular";
    border: 0;
    background: #333f50;
    color: #fff;
    border-radius: 0;
    font-size: 18px;
    line-height: 28px;
    padding: 15px 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .landing-block .tab-content .card-header,
  .landing-block .tab-content .card-header h5 {
    padding: 0;
  }
  .landing-block .tab-content .card-header h5 a:hover,
  .landing-block .tab-content .card-header h5 a.collapsed {
    color: #fff !important;
    background: #333;
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 767px) {
  .main-block .landing-block .tab-content .left-block,
  .main-block .landing-block .tab-content .right-block {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    margin: 20px 0;
  }
  .landing-block .tab-content .card-body {
    padding: 15px 15px 0;
    margin-bottom: 30px;
  }
  .main-block .landing-block .tab-content .right-block {
    margin: 0;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575px) {
  .landing-block .tab-content .box-block .block {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .search-click {
    font-size: 16px;
  }
  .search-click::before {
    right: 51%;
    top: 3px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
  }
  header .logo {
    width: 200px;
  }
  header.sticky .logo {
    width: 180px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1283px) {
  .fliter-blk {
    padding: 0;
  }
  .row.align-items-center.justify-content-between {
    margin: 0px !important;
    padding: 5px 0px;
  }
  .fliter-blk select {
    width: 120px !important;
  }
}
