/* ====home video slider=== */

.home-slider .video-body .video-fill {
    height: 100vh;
    background: #000;
}
.home-slider .video-body .video-fill .video-slider-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    line-height: 97vh;
    text-align: center;
}
/* 
.home-slider .item .img-fill img {
    filter:blur(5px);
} */
.home-slider .video-body .video-slider-info > div {
    display: inline-block!important;
    vertical-align: middle;
    padding: 0px 190px;
}
.home-slider .NextArrow {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 45px;
    height: 45px;
    background: rgba(0, 0, 0, .50);
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font: 20px/45px FontAwesome;
    color: #FFF;
    z-index: 5;
}
.home-slider .NextArrow:before {
    content: '\f105';
}
.home-slider .PrevArrow {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 45px;
    height: 45px;
    background: rgba(0, 0, 0, .50);
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font: 20px/45px FontAwesome;
    color: #FFF;
    z-index: 5;
}
.home-slider .PrevArrow:before {
    content: '\f104';
}
.home-video-slider .slick-dots li button:before {
    font-family: 'slick';
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    -webkit-font-smoothing: antialiased;
}
.home-video-slider .slick-dots {
    position: absolute;
    display: block;
    width: 100%;
    top: 75%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}
.home-video-slider .slick-dots li button {
    font-size: 27px;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    padding-bottom: 20px;
    cursor: pointer;
    top: 0;
    font-weight: bold;
    color: #fff;
    border: 0;
    outline: none;
    background: transparent;
}
.home-video-slider .slick-dots li {
    position: relative;
    display: list-item;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    left: 90%;
    margin-top: 25px;
}
.home-video-slider .slick-dots li::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    background: #fff;
    display: block;
}
.home-slider .video-body h2 {
    color: #FFF;
    font-weight: 700;
    margin: 0;
    font-size: 55px;
    padding: 0px;
}
.home-video-slider .slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.home-slider .video-body .slick-active h2 {
    animation: fadeInDown 1s both 1s;
}
.home-slider .video-body .slick-active {
    animation: Slick-FastSwipeIn 1s both;
}
.slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}
.slick-list:focus {
    outline: none
}
.slick-list.dragging {
    cursor: hand
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}
.slick-track:after {
    clear: both
}
.slick-loading .slick-track {
    visibility: hidden
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}
.slick-slide.dragging img {
    pointer-events: none
}
.slick-initialized .slick-slide {
    display: block
}
.slick-loading .slick-slide {
    visibility: hidden
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

/*----------------organizations-slider----------------------*/

.organizations .slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.organizations .slick-prev,
.organizations .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: black;
    border: none;
    outline: none;
    background: #e9ebf4;
    border-radius: 50px;
}
.organizations .slick-prev {
    transform: translate(-38%, -50%) !important;
}
.organizations .slick-next {
    transform: translate(38%, -50%) !important;
}
.organizations .slick-prev:before {
    content: "\f053";
    font-family: "FontAwesome";
    color: #40ad3e !important;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.organizations .slick-next:before {
    content: "\f054";
    font-family: "FontAwesome";
    color: #40ad3e !important;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.organizations .slick-prev:hover,
.organizations .slick-next:hover {
    background: #263f8f;}
.organizations .slick-slide img {
    width: 100%;
}
/*---------------testimonials-slide-----------------------*/

.testimonial-slide {
    color: #ffffff;
    width: 85%;
    margin: 0 auto;
}
.testimonial-slide p {
    margin-bottom: 25px;
    margin-top: 100px;
    font-size: 20px;
}
.testimonial-slide .testimonial-item {
    margin-bottom: 15px;
}
.testimonial-slide .testimonial-item .icon-client {
    background: #ffffff;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 29px;
    margin-top: 2px;
}
.testimonial-slide .testimonial-item .infor-client {
    display: inline-block;
    margin: 0 auto;
    width: auto;
}
.testimonial-slide .testimonial-item .client-name {
    padding-left: 38px;
    font-size: 15px;
    letter-spacing: 1px;
    display: block;
    line-height: normal;
    white-space: nowrap;
    padding-top: -22px;
    transform: translate(25px, -46px);
}
.icon-client img {
    border-radius: 52%;
    width: 50px;
}
.testimonial-slide .testimonial-item .client-position {
    font-size: 12px;
    line-height: normal;
    padding-left: 63px;
    display: block;
    letter-spacing: 1px;
    white-space: nowrap;
    transform: translate(0px, -40px);
}
.testimonial-slide .testimonial-item .client-position a {
    color: white;
}
.testimonial-slide .testimonial-item .client-position a:hover {
    color: #5ed9e7;
}
/*-------------------latest-news------------------------*/

.slick-carousel {
    margin: 0 auto;
    width: 1000px;
}
.slick-slide {
    width: 350px;
}
.slick-next::before,
.slick-prev::before {
    color: blue;
}
.latest-news .slick-slide {
    margin: 0px 20px;
}
.latest-news .slick-dots li button:before {
    font-family: 'slick';
    font-size: 50px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    color: black;
    -webkit-font-smoothing: antialiased;
}
.latest-news .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    margin-left: 10px !important;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}