
@{
    ViewBag.Title = "Login";
}


<div class="wrapper fadeInDown">
    <div id="formContent">

        <!-- Login Form -->
        <form class="admin-login-form">
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="User Name">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
            <button class="btn btn-primary form-control admin-login-btn">LOGIN</button>
        </form>

    </div>
</div>